
```gitignore
# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
pythonenv*

# Streamlit
.streamlit/



# Model files
*.pkl
*.joblib

# Data
*.csv
*.xlsx
*.xls
data/*.csv
!data/housing.csv

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

.image/